/* COLOUR SCHEME
 rgb(33, 35, 34) BLACK
 rgb(217, 134, 186) PINK
 rgb(253, 218, 37) YELLOW*/

body {
    background: rgb(33, 35, 34);
    font-family: 'Notable', sans-serif;
}

h1 {
    letter-spacing: 2px;
    color: rgb(161, 216, 132);
    text-align: center;
}

.btn-80s {
    background-color: rgb(217, 134, 186);
    color: white;
    border: rgb(253, 218, 37);
}